{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <a href="/post" class="btn btn-primary stretched-link">記録</a>
      </div>
    </div>
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <a href="#" class="btn btn-primary stretched-link">検索</a>
      </div>
    </div>
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <a href="#" class="btn btn-primary stretched-link">プロフィール</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}